@page "/AddNew"
@inject IBookRepository BookRepository
@inject NavigationManager NavigationManager
<PageTitle>Add New Book</PageTitle>
<div class="row justify-content-center">
    <div class="col-6">
        <BookForm IsEditMode="false" OnValidBookSubmit="AddBook" />
    </div>
</div>
@code {

    private async Task AddBook(Book book)
    {
        await BookRepository.AddAsync(book);
        NavigationManager.NavigateTo("/BooksList");
    }
}
